.env
.env.local
.env.*.local

node_modules/

*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

.vscode/
.idea/
*.swp

postgres_data/
pgadmin_data/

geoserver/data_dir/security/**
geoserver/data_dir/workspaces/geogamer/geogamer/datastore.xml
